Adresses déjà enregistrées
<table>
    <thead>
        <tr>
            <th>Rue</th>
            <th>Ville</th>
            <th>Code postal</th>
            <th>Pays</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let adress of adresses">
            <td>{{adress.street}}</td>
            <td>{{adress.city}}</td>
            <td>{{adress.zipcode}}</td>
            <td>{{adress.country}}</td>
            <td><button (click) = "removeAdress(adress)">Supprimer l'adresse</button></td>
        </tr>
    </tbody>
</table>


Ajouter une adresse
<input type="text" [(ngModel)]="streetInput"  name="street" placeholder="Rue"/>
<input type="number" [(ngModel)]="zipCodeInput"   name="zipCode" placeholder="Code postal"/>
<input type="text" [(ngModel)]="cityInput" name="city" placeholder="Ville"/>
<input type="text" [(ngModel)]="countryInput"  name="country" placeholder="Pays"/>
<button (click) =  "addAdress()">Valider la création de l'adresse</button>